<h1 style="margin-top: 10%; text-align: center;font-size: 50px;">test works!</h1>



<ul style="margin:10% auto">
    <li  *ngFor="let user of users;">
        {{user.name}}
    </li>
</ul>


<input [(ngModel)]="name">
<div>
   Name :  {{name}}
</div>





