<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>

    <form [formGroup]="formGroup">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="username?.hasError('required')">Username is required </mat-error>
        </mat-form-field>

      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="password?.hasError('required')">Password is required </mat-error>
        </mat-form-field>
      </p>

      <div class="button">
        <p-button [style]="{'width' : '80px','margin-right':'30%','margin-left':'10%'}">
          Register
        </p-button>
        <p-button (click)="login()" [style]="{'width' : '80px'}"> Login</p-button>
      </div>
    </form>
  </mat-card-content>
</mat-card>